@use "../../../styles/colors.scss" as *;
@use "../../../styles/fonts.scss" as *;
@use "../../../styles/padding_margin_gap.scss" as *;
@use "../../../styles/breakpoints.scss" as *;

.IntroBlock {
  padding: $padding_24;
  background-color: $graphiteBlack;

  @media (width < $tablet) {
    padding: $padding_16;
  }
}

.breadcrumbs {
  ul {
    font-family: $onestLight;
    font-size: 14px;
    letter-spacing: -0.03em;
    display: flex;
    gap: $gap_8;
    color: $breadcrumbs;
    list-style: none;

    li {
      &:not(.active) a {
        color: $breadcrumbs;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      &.active {
        color: $limeMain;
      }
    }
  }

  @media (width < $laptop) {
    display: none;
  }
}

.imagesGrid {
  margin-top: $margin_12;
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @media (width < $laptop) {
    margin-top: $margin_32;
  }

  @media (width < $tablet) {
    grid-template-columns: repeat(1, 1fr);
    margin-top: $margin_10;
  }
}

.introTitle {
  padding: $padding_12 0 $padding_5;
  max-width: 1160px;
  grid-column: 1 / -1;
  grid-row: 2;
  font-family: $onestLight;
  font-size: 72px;
  line-height: 100%;
  letter-spacing: 0.04em;
  font-weight: 400;
  color: $classicWhite;
  text-align: center;
  text-transform: uppercase;
  justify-self: center;

  @media (width < $desktop) {
    font-size: 64px;
    padding: $padding_30 0 $padding_24;
  }

  @media (width < $laptop) {
    font-size: 48px;
    padding: $padding_40 0 $padding_50;
  }

  @media (width < $tablet) {
    grid-column: 1;
    grid-row: 2;
    font-size: 32px;
    padding: $padding_40 0 $padding_60;
  }
}

.leftImage {
  grid-column: 1;
  grid-row: 3;
  justify-self: start;

  @media (width < $laptop) {
    width: 205px;
    height: auto;
  }

  @media (width < $tablet) {
    width: 168px;
    grid-row: 3;
    grid-column: 1;
  }
}

.rightImage {
  grid-column: 3;
  grid-row: 1;
  justify-self: right;

  @media (width < $desktop) {
    width: 320px;
    height: auto;
  }

  @media (width < $tablet) {
    width: 168px;
    height: auto;
    grid-column: 1;
    grid-row: 1;
  }
}

.centerImage {
  grid-column: 2;
  grid-row: 3;
  justify-self: center;
  margin-top: $margin_80;
  margin-bottom: $margin_100;

  @media (width < $ultraWidth) {
    margin-bottom: $margin_70;
  }

  @media (width < $desktop) {
    width: 485px;
    grid-column: 2 / span 2;
    height: auto;
  }

  @media (width < $laptop) {
    width: 415px;
  }

  @media (width < $tablet) {
    justify-self: right;
    max-width: 272px;
    height: auto;
    grid-row: 4;
    grid-column: 1;
    margin-top: $margin_30;
    margin-bottom: $margin_54;
  }
}

.stringLineFirst {
  position: relative;
  top: 218px;
  left: 0;
  background-color: $grayString_2;
  height: 1px;
}

.stringLineSecond {
  position: relative;
  top: 445px;
  left: 0;
  background-color: $grayString_2;
  height: 1px;
}

.stringLineThird {
  position: relative;
  top: 700px;
  left: 0;
  background-color: $grayString_2;
  height: 1px;
}
