@use "../../../styles/colors.scss" as *;
@use "../../../styles/fonts.scss" as *;
@use "../../../styles/padding_margin_gap.scss" as *;
@use "../../../styles/breakpoints.scss" as *;

.IntroBlock {
  padding: $padding_24 0;
  background-color: $graphiteBlack;

  @media (width < $desktop) {
    padding: $padding_24 $padding_24 0 $padding_24;
  }

  @media (width < $tablet) {
    padding: $padding_12 $padding_12 0 $padding_12;
  }
}

.breadcrumbs {
  ul {
    font-family: $onestLight;
    font-size: 14px;
    letter-spacing: -0.03em;
    display: flex;
    gap: $gap_8;
    color: $breadcrumbs;
    list-style: none;

    li {
      &:not(.active) a {
        color: $breadcrumbs;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      &.active {
        color: $limeMain;
      }
    }
  }

  @media (width < $laptop) {
    display: none;
  }
}

.imagesGrid {
  margin-top: $margin_12;
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.introTitle {
  margin-top: $margin_12;
  max-width: 1170px;
  grid-column: 1 / -1;
  grid-row: 2;
  font-family: $onestLight;
  font-size: 72px;
  line-height: 100%;
  letter-spacing: 0.04em;
  font-weight: 400;
  color: $classicWhite;
  text-align: center;
  text-transform: uppercase;
  justify-self: center;

  @media (width < $desktop) {
    font-size: 64px;
    padding: $padding_24 0;
  }

  @media (width < $laptop) {
    font-size: 48px;
    padding: $padding_45 0;
  }

  @media (width < $tablet) {
    font-size: 32px;
  }
}

.leftImage {
  grid-column: 1;
  grid-row: 3;
  justify-self: start;

  @media (width < $desktop) {
    max-width: 80%;
    height: auto;
  }

  @media (width < $laptop) {
    max-width: 115%;
    height: auto;
  }

  @media (width < $tablet) {
    max-width: 150%;
    height: auto;
  }
}

.rightImage {
  grid-column: 3;
  grid-row: 1;
  justify-self: right;

  @media (width < $desktop) {
    width: 100%;
    height: auto;
  }

  @media (width < $laptop) {
    width: 135%;
    height: auto;
  }

  @media (width < $tablet) {
    width: 168px;
    height: auto;
  }
}

.centerImage {
  grid-column: 2;
  grid-row: 3;
  justify-self: center;
  margin-top: $margin_80;
  margin-bottom: $margin_100;

  @media (width < $desktop) {
    width: 150%;
    height: auto;
  }

  @media (width < $laptop) {
    width: 170%;
    height: auto;
    grid-column: 3;
    justify-self: right;
  }

  @media (width < $tablet) {
    max-width: 272px;
    height: auto;
    grid-row: 4;
    margin-top: $margin_30;
    margin-bottom: $margin_70;
  }
}

.stringLineFirst {
  position: relative;
  top: 218px;
  left: 0;
  background-color: $grayString_2;
  height: 1px;
}

.stringLineSecond {
  position: relative;
  top: 445px;
  left: 0;
  background-color: $grayString_2;
  height: 1px;
}

.stringLineThird {
  position: relative;
  top: 700px;
  left: 0;
  background-color: $grayString_2;
  height: 1px;
}
