@use "../../../styles/colors.scss" as *;
@use "../../../styles/fonts.scss" as *;
@use "../../../styles/padding_margin_gap.scss" as *;
@use "../../../styles/breakpoints.scss" as *;

.signUpBlock {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: $graphiteBlack;

  > img {
    width: 100%;
    object-fit: cover;

    @media (width < $laptop) {
      height: 100%;
    }

    @media (width < $tablet) {
      height: 235px;
    }
  }

  @media (width < $tablet) {
    grid-template-columns: 1fr;
  }
}

.signUpGroup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: $padding_40;
  margin: 0 auto;

  @media (width < ($desktop + 1px)) {
    margin: 0;
  }

  @media (width < $desktop) {
    padding: $padding_40 $padding_24;
  }

  @media (width < $laptop) {
    padding: $padding_24;
    justify-content: center;
    gap: $gap_35;
  }

  @media (width < $tablet) {
    padding: $padding_24 $padding_16;
    gap: $gap_73;
  }
}

.signUpWavesImg {
  @media (width < $laptop) {
    height: 84px;
    width: 84px;
  }
}

.signUpContent {
  display: flex;
  flex-direction: column;
  gap: $gap_40;
  max-width: 490px;

  a {
    &::after {
      transition: all 0.3s ease;
      width: 24px;
      height: 24px;
      content: url(../../../../public/SignUpMain/chevronRight.png);
    }

    &:hover::after {
      transform: translateX(3px);
    }
  }

  @media (width < $tablet) {
    max-width: 100%;
  }
}

.signUpText {
  font-family: $onestLight;
  font-size: 20px;
  letter-spacing: 0.04em;
  line-height: 130%;
  color: $classicWhite;
  text-transform: uppercase;

  @media (width < $laptop) {
    font-size: 16px;
  }
}

.signUpButton {
  @media (width < $tablet) {
    width: 100%;
    justify-content: center;
  }
}
