@use "../../../styles/colors.scss" as *;
@use "../../../styles/fonts.scss" as *;
@use "../../../styles/padding_margin_gap.scss" as *;
@use "../../../styles/breakpoints.scss" as *;

.signUpBlock {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: $graphiteBlack;

  > img {
    width: 100%;
    object-fit: cover;
  }
}

.signUpGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 24px;
}

.signUpWavesImg {
   @media (width < $laptop) {
    height: 84px;
    width: 84px;
  }
}

.signUpContent {
  margin-top: 54px;
  display: flex;
  flex-direction: column;
  gap: $gap_40;
  max-width: 490px;
}

.signUpText {
  font-family: $onestLight;
  font-size: 20px;
  letter-spacing: 0.04em;
  line-height: 130%;
  color: $classicWhite;
  text-transform: uppercase;

   @media (width < $laptop) {
    font-size: 16px;
  }
}

.signUpButton {
  width: fit-content;
  padding: $padding_12 $padding_24;
  display: flex;
  align-items: center;
  background-color: $limeMain;
  gap: $gap_8;
  font-family: $onestRegular;
  font-size: 14px;
  letter-spacing: -0.03em;
  color: $graphiteBlack_2;
  text-decoration: none;

  &::after {
    width: 24px;
    height: 24px;
    content: url(../../../../public/SignUpMain/chevronRight.png);
  }
}
