@use "../../../../styles/colors.scss" as *;
@use "../../../../styles/fonts.scss" as *;
@use "../../../../styles/padding_margin_gap.scss" as *;
@use "../../../../styles/breakpoints.scss" as *;

.introBlock {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: $classicBlack;

  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (width < $tablet) {
    display: flex;
    flex-direction: column;
    > img {
      order: -1;
      height: 300px;
    }
  }
}

.introContent {
  display: flex;
  flex-direction: column;
  gap: $gap_47;
  padding: $padding_24;

  @media (width < $desktop) {
    padding-right: $padding_40;
  }

  @media (width < $laptop) {
    gap: $gap_24;
  }

  @media (width < $tablet) {
    padding: $padding_16;
  }
}

.breadcrumbs {
  ul {
    font-family: $onestLight;
    font-size: 14px;
    letter-spacing: -0.03em;
    display: flex;
    gap: $gap_8;
    color: $breadcrumbs;
    list-style: none;

    li {
      &:not(.active) a {
        color: $breadcrumbs;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      &.active {
        color: $limeMain;
      }
    }
  }

  @media (width < $laptop) {
    display: none;
  }
}

.introServiceTitle {
  font-family: $onestLight;
  font-size: 72px;
  color: $classicWhite;
  line-height: 110%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-weight: 400;

  @media (width < $desktop) {
    font-size: 64px;
  }

  @media (width < $laptop) {
    font-size: 48px;
  }

  @media (width < $tablet) {
    font-size: 32px;
  }
}

.introServiceList {
  display: flex;
  flex-direction: column;
  gap: $gap_8;
}

.introServiceListItem {
  display: flex;
  align-items: center;
  gap: $gap_9;
  font-family: $onestLight;
  font-size: 16px;
  color: $classicWhite;
  line-height: 130%;
  letter-spacing: 0.04em;

  &::before {
    content: url(../../../../../public/IntroServices/ellipse.png);
    width: 12px;
    height: 19px;
  }

  @media (width < $laptop) {
    font-size: 12px;
  }
}

.introServiceFooter {
  display: flex;
  align-items: center;
  gap: $gap_24;

  @media (width < $laptop) {
    flex-direction: column;
    align-items: flex-start;
    gap: $gap_10;
  }
}

.introServicePrice {
  font-family: $onestLight;
  color: $classicWhite;
  line-height: 130%;
  letter-spacing: 0.04em;
  font-size: 53px;
  text-transform: uppercase;

  @media (width < $laptop) {
    font-size: 48px;
  }

  @media (width < $tablet) {
    font-size: 32px;
  }
}

.greenButton {
  @media (width < $tablet) {
    width: 100%;
    justify-content: center;
  }
}
