@use "../../../../styles/colors.scss" as *;
@use "../../../../styles/fonts.scss" as *;
@use "../../../../styles/padding_margin_gap.scss" as *;
@use "../../../../styles/border.scss" as *;

.galleryWrapper {
  position: relative;
}

.swiperImage {
  width: 100%;
  height: auto;
}