@use "../../../styles/colors.scss" as *;
@use "../../../styles/fonts.scss" as *;
@use "../../../styles/padding_margin_gap.scss" as *;
@use "../../../styles/breakpoints.scss" as *;

.heroBlock {
  padding: 0 $padding_22;
  background-color: $limeMain;

  @media (width < $tablet) {
    padding: 0 $padding_16;
  }
}

.heroContent {
  padding: $padding_190 0 $padding_25;
  position: relative;

  @media (width < $desktop) {
    padding: $padding_180 0 $padding_16;
  }

  @media (width < $laptop) {
    padding: $padding_160 0 $padding_16;
  }

  @media (width < $tablet) {
    padding: $padding_210 0 $padding_16;
  }
}

.titleMainPage {
  position: relative;
  z-index: 1;
  font-family: $onestLight;
  color: $classicBlack;
  font-size: 120px;
  line-height: 100%;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  @media (width < $desktop) {
    font-size: 72px;
    max-width: 560px;
  }

  @media (width < $laptop) {
    font-size: 64px;
    max-width: 500px;
  }

  @media (width < $tablet) {
    font-size: 40px;
    max-width: 315px;
  }
}

.microImg {
  position: absolute;
  bottom: 0;
  right: 0;

  @media (width < $desktop) {
    max-width: 245px;
    height: auto;
  }

  @media (width < $laptop) {
    max-width: 195px;
  }
}