@use "../../../styles/colors.scss" as *;
@use "../../../styles/fonts.scss" as *;
@use "../../../styles/padding_margin_gap.scss" as *;
@use "../../../styles/breakpoints.scss" as *;

.musicExamplesBlock {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: $limeMain;

  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    @media (width < $laptop) {
      height: 415px;
    }
  }

  @media (width < $laptop) {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

.trackMainBlock {
  display: flex;
  flex-direction: column;
  gap: $gap_40;
  padding: $padding_40;
  max-width: 740px;

  @media (width < $desktop) {
    gap: $gap_24;
    padding: $padding_24;
  }

  @media (width < $tablet) {
    padding: $padding_32 $padding_16;
  }
}

.trackTitle {
  font-family: $onestLight;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0.04em;
  font-weight: 400;
  color: $classicBlack;
  text-transform: uppercase;
  text-align: center;

  @media (width < $desktop) {
    font-size: 32px;
  }
}

.trackBlock {
  display: flex;
  flex-direction: column;
  gap: $gap_16;
  padding: $padding_16 $padding_26;
  background-color: $graphiteBlack;

  @media (width < $tablet) {
    padding: $padding_16;
  }
}

.string {
  height: 1px;
  background: $rangeColor;
}