@use "../../../styles/colors.scss" as *;
@use "../../../styles/fonts.scss" as *;
@use "../../../styles/padding_margin_gap.scss" as *;
@use "../../../styles/container.scss" as *;

.servicesBlock {
    padding: $padding_80 0;
    background-color: $graphiteBlack;
}

.servicesCardBlock {
    display: flex;
    flex-direction: column;
    gap: $gap_60;
}