$limeMain: #CEE86B;
$limeDark: #BAD457;
$classicBlack: #000000;
$graphiteBlack: #111111;
$graphiteBlack_2: #1E1D1C; 
$classicWhite: #FFFFFF;
$whiteSoft: #FEFEFE;
$cloudWhite: #F9F9F9;
$cloudGray: #EFF0F6;
$grayString: #969696;
$grayString_2: #464646;
$darkGray: #1F1F1F;
$grayNum: #A8A8A8;
$darkGrayString: #212121;
$rangeColor: #393636;
$lightGray: #9C9C9C;
$formGrayLight: #343434;
$grayStringDark: #525252;
$breadcrumbs: #B6B3B1;
$timestamp: #B7B7B7;