@use "../../../styles/colors.scss" as *;
@use "../../../styles/padding_margin_gap.scss" as *;
@use "../../../styles/fonts.scss" as *;
@use "../../../styles/breakpoints.scss" as *;

.calendar {
  width: 280px;
  margin: 0 auto;
  font-family: $onestRegular;
  background-color: $classicWhite;
  padding: $padding_12;
  box-shadow: 2px 2px 20px 0px #49609029;

  @media (width < $laptop) {
    width: 260px;
    padding: $padding_8;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $margin_20;
  gap: $gap_32;

  @media (width < $laptop) {
    gap: $gap_16;
    margin-bottom: $margin_16;
  }
}

.navButtonLeft,
.navButtonRight {
  background: $limeMain;
  border: none;
  cursor: pointer;
  padding: $padding_12;
  transition: background-color 0.2s;
  border-radius: 4px;

  &:hover {
    background-color: $limeDark;
  }

  @media (width < $laptop) {
    padding: $padding_8;
  }
}

.navButtonLeft {
  &::after {
    height: 16px;
    width: 16px;
    content: url(../../../../public/BookingForm/calendarChevronLeft.png);
  }
}

.navButtonRight {
  &::after {
    height: 16px;
    width: 16px;
    content: url(../../../../public/BookingForm/calendarChevronRight.png);
  }
}

.monthTitle {
  text-align: center;
  font-size: 16px;
  color: $graphiteBlack;
  text-transform: capitalize;

  @media (width < $laptop) {
    font-size: 14px;
  }
}

.calendarGrid {
  display: flex;
  flex-direction: column;
  gap: $gap_4;
}

.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  color: $calendarGray;
  margin-bottom: $margin_8;
  gap: $gap_8;

  @media (width < $laptop) {
    gap: $gap_4;
  }
}

.week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: $gap_8;

  @media (width < $laptop) {
    gap: $gap_4;
  }
}

.day {
  text-align: center;
  padding: $padding_8 0;
  color: #333;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s;

  &:hover:not(.empty):not(.disabledDay) {
    background-color: $calendarHover;
  }

  &.currentDay {
    background-color: $currentDay;
  }

  &.selectedDay {
    background-color: $limeMain;
    font-weight: bold;
  }

  &.disabledDay {
    color: $disabledDay;
    cursor: not-allowed;
  }

  &.empty {
    visibility: hidden;
  }

  @media (width < $laptop) {
    padding: $padding_4 0;
    font-size: 12px;
  }
}
