@use "../../../../styles/colors.scss" as *;
@use "../../../../styles/fonts.scss" as *;
@use "../../../../styles/padding_margin_gap.scss" as *;
@use "../../../../styles/container.scss" as *;
@use "../../../../styles/border.scss" as *;
@use "../../../../styles/breakpoints.scss" as *;

.audioTrackBlock {
  display: flex;
  align-items: center;
  gap: $gap_16;
  padding: $padding_14 0;

  @media (width < $desktop) {
    padding: $padding_8 0;
  }
}

.playButton {
  background-color: $limeMain;
  padding: $padding_12;
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.audioTrackControls {
  width: 100%;
  display: flex;
  gap: $gap_8;
  align-items: center;
}

.time {
  font-family: $onestRegular;
  color: $classicWhite;
  line-height: 150%;
  font-size: 14px;
}

.progress {
  appearance: none;
  width: inherit;
  height: 4px;
  background: $rangeColor;
  border-radius: $border_8;
  cursor: pointer;

  // Webkit (Chrome, Safari)
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 8px;
    height: 8px;
    border-radius: $border_half;
    margin-top: -2px;
    background: $limeMain;
    transition: background 0.3s ease;
  }

  &::-webkit-slider-runnable-track {
    height: 4px;
    background: linear-gradient(
      to right,
      $limeMain var(--progress, 0%),
      $rangeColor var(--progress, 0%)
    );
    border-radius: $border_8;
  }

  // // Firefox
  &::-moz-range-thumb {
    width: 8px;
    height: 8px;
    border-radius: $border_half;
    background: $limeMain;
    cursor: pointer;
  }

  &::-moz-range-track {
    height: 4px;
    background: $rangeColor;
    border-radius: $border_8;
  }
}
