@use "../../styles/colors.scss" as *;
@use "../../styles/fonts.scss" as *;
@use "../../styles/padding_margin_gap.scss" as *;
@use "../../styles/breakpoints.scss" as *;

.header {
  background-color: $limeMain;
  padding: $padding_16 $padding_22;

  @media (width < $laptop) {
    padding: $padding_7 $padding_22;
  }

  @media (width < $tablet) {
    padding: $padding_16;
  }
}

.headerListMain {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;

  @media (width < $tablet) {
    display: block;
  }
}

.logoAndMenu {
  display: flex;
  align-items: center;
  gap: $gap_24;

  @media (width < $tablet) {   
    justify-content: space-between;  
  }
}

.headerList {
  display: flex;
  gap: $gap_40;
  list-style-type: none;

  @media (width < $desktop) {
    gap: 32px;
  }

  @media (width < $laptop) {
    display: none;
  }
}

.navOpen {
  display: block;
}

.burger {
  text-transform: uppercase;
  display: none;
  cursor: pointer;
  background: none;
  border: none;

  @media (width < $laptop) {
    display: flex;
    align-items: center;
    gap: $gap_8;

    &::before {
      width: 24px;
      height: 24px;
      content: url(../../../public/Header/IconBurger.png);
    }
  }
}

.headerList a,
.accountBlock a, 
.logoAndMenu a {
  font-family: $onestRegular;
  text-transform: uppercase;
  text-decoration: none;
  color: $classicBlack;
  font-size: 14px;
  letter-spacing: -0.03em;
  font-weight: 400;
}

.accountBlock {
  padding: $padding_12;
  display: flex;
  gap: $gap_24;
  align-items: center;

  @media (width < $tablet) {
    display: none;
  }
}

.callPhoneLink {
  display: flex;
  align-items: center;
  gap: $gap_8;

  &::before {
    width: 24px;
    height: 24px;
    content: url(../../../public/Header/IconPhone.png);
  }
}
