@use "../../styles/colors.scss" as *;
@use "../../styles/fonts.scss" as *;
@use "../../styles/padding_margin_gap.scss" as *;
@use "../../styles/border.scss" as *;

.footer {
  padding-top: 70px;
  background-color: $graphiteBlack;
}

.footerContentWrapper {
  width: 100%;
}

.footerMainSection {
    display: flex;
    flex-direction: column;
    gap: $gap_120;
    align-items: center;
}

.footerBlock {
  display: flex;
  justify-content: space-between;
}

.footerContentInfo {
  display: flex;
  flex-direction: column;
  gap: $gap_76;
}

.footerList {
  display: flex;
  flex-direction: column;
  gap: $gap_8;
  list-style: none;
}

.footerList a {
  font-family: $onestLight;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $lightGray;
  text-decoration: none;
  transition: all 0.2s ease;

  &:hover {
    color: $classicWhite;
  }
}

.сontactInfoBlock {
  display: flex;
  flex-direction: column;
  gap: $gap_24;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  gap: $gap_16;

  div {
    display: flex;
    flex-direction: column;
    gap: $gap_8;

    p {
      font-family: $onestLight;
      font-size: 14px;
      line-height: 14px;
      color: $classicWhite;
      text-transform: uppercase;
    }

    a {
      font-family: $onestLight;
      font-size: 32px;
      line-height: 32px;
      text-decoration: none;
      color: $classicWhite;
    }
  }
}

.socialLinksList {
  display: flex;
  align-items: center;
  gap: $gap_24;
  list-style: none;

  a {
    text-decoration: none;
  }
}

// form

.callbackForm {
  width: 100%;
  max-width: 680px;
  display: flex;
  flex-direction: column;
  gap: $gap_40;

  h2 {
    font-family: $onestLight;
    font-weight: 400;
    font-size: 44px;
    line-height: 44px;
    text-transform: uppercase;
    color: $classicWhite;
  }
}

.formFieldsGroup {
  display: flex;
  flex-direction: column;
  gap: $gap_24;
}

.formFields {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: $gap_24;
  grid-column-gap: $gap_16;
}

.formField {
  // border: 1px solid #ffffff;
  display: flex;
  flex-direction: column;
  gap: $gap_8;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: $gap_16;

  &:has(input:hover) .inputUnderline,
  &:has(input:focus) .inputUnderline {
    background-color: $lightGray;
  }

  .requiredMark {
    color: $limeMain;
  }

  input {
    background: transparent;
    border: none;
    color: $classicWhite;
    font-size: 16px;
    line-height: 16px;
    font-family: $onestRegular;

    &:hover,
    &:focus {
      &::placeholder {
        color: $grayStringDark;
      }
    }

    &::placeholder {
      text-transform: uppercase;
      transition: all 0.1s ease;
      color: $formGrayLight;
    }

    &:focus {
      outline: none;
    }    

    &:-webkit-autofill {
      border: none;
      -webkit-text-fill-color: $classicWhite !important;
      font-size: 16px !important;
      line-height: 16px !important;
      font-family: $onestRegular !important;
      box-shadow: 0 0 0 1000px $graphiteBlack inset;
      transition: background-color 9999s ease-in-out 0s;
    }
  }
}

.inputUnderline {
  width: 100%;
  height: 1px;
  background-color: $grayStringDark;
}

.checkboxWrapper {
  display: flex;
  align-items: center;
  gap: $gap_16;

  input[type="checkbox"] {
    appearance: none;
    border: 1px solid $lightGray;
    border-radius: $border_4;
    width: 24px;
    height: 24px;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s ease;
    position: relative;

    &:checked {
      background-color: $limeMain;
      border-color: $limeMain;

      &:hover {
        background-color: $limeDark;
      }
    }

    &:checked::after {
      content: "";
      position: absolute;
      left: 7px;
      top: 3px;
      width: 8px;
      height: 13px;
      border: solid $classicBlack;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
    }

    &:hover {
      border-color: $limeMain;
    }
  }

  label {
    font-family: $onestLight;
    font-size: 16px;
    line-height: 20px;
    color: $lightGray;
    user-select: none;

    a {
      color: $classicWhite;
      text-decoration: underline;
    }
  }
}
