@use "../../styles/colors.scss" as *;
@use "../../styles/fonts.scss" as *;
@use "../../styles/padding_margin_gap.scss" as *;
@use "../../styles/border.scss" as *;
@use "../../styles/breakpoints.scss" as *;

.addReviewBlock {
  background-color: $classicWhite;
}

.addReviewGroup {
  padding: $padding_140 0;
  display: flex;
  justify-content: space-between;

  @media (width < $desktop) {
    padding: $padding_100 0;
    margin: 0 $margin_25;
  }

  @media (width < $laptop) {
    display: flex;
    flex-direction: column;

    img {
      align-self: flex-end;
      margin-left: auto;
    }
  }

  @media (width < $tablet) {
    margin: 0 $margin_16;
    padding: $padding_60 0;
  }
}

.callbackForm {
  width: 100%;
  max-width: 460px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (width < $tablet) {
    margin: 0 auto;
  }

  h1 {
    margin-bottom: $margin_60;
    font-family: $onestLight;
    font-weight: 400;
    font-size: 44px;
    line-height: 44px;
    text-transform: uppercase;
    color: $classicBlack;
  }

  button[type="submit"] {
    margin-top: $margin_45;
    &::after {
      width: 24px;
      height: 24px;
      content: url(../../../public/AddReviewForm/chevronRight.png);
    }
  }

  @media (width < $tablet) {
    h1 {
      font-size: 32px;
      margin: 0 auto $margin_40 auto;
    }
    button[type="submit"] {
      margin-top: $margin_25;
    }
  }
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: $gap_16;

  &:has(input:hover) .inputUnderline,
  &:has(input:focus) .inputUnderline {
    background-color: $graphiteBlack;
  }

  .requiredMark {
    color: $limeMain;
  }

  input {
    background: transparent;
    border: none;
    color: $graphiteBlack;
    font-size: 16px;
    line-height: 16px;
    font-family: $onestRegular;

    &:hover,
    &:focus {
      &::placeholder {
        color: $graphiteBlack;
      }
    }

    &::placeholder {
      text-transform: uppercase;
      transition: all 0.1s ease;
      color: $rangeColor;
    }

    &:focus {
      outline: none;
    }

    &:-webkit-autofill {
      border: none;
      -webkit-text-fill-color: $graphiteBlack !important;
      font-size: 16px !important;
      line-height: 16px !important;
      font-family: $onestRegular !important;
      box-shadow: 0 0 0 1000px $classicWhite inset;
      transition: background-color 9999s ease-in-out 0s;
    }
  }
}

.inputWrapper {
  display: flex;
  padding: 0 $padding_12;
}

.inputUnderline {
  width: 100%;
  height: 1px;
  background-color: $rangeColor;
  margin-bottom: $margin_8;
}

.sendButton {
  @media (width < $tablet) {
    width: 100%;
    justify-content: center;
  }
}

.errorUnderline {
  background-color: red !important;
}

.errorText {
  margin-top: $gap_16;
  color: red;
  font-family: $onestLight;
  margin: 0;
  padding: 0;
  font-size: 14px;
  top: 8px;
}

.successContent {
  display: flex;
  flex-direction: column;
  gap: $gap_60;
  width: 100%;
  max-width: 460px;

  @media (width < $tablet) {
    margin: 0 auto;
  }
}

.backButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $gap_8;
  
  &::before {
      width: 24px;
      height: 24px;
      content: url(../../../public/AddReviewForm/chevronLeft.png);
  }
}

.successTitle {
  font-family: $onestLight;
  font-weight: 400;
  font-size: 44px;
  line-height: 44px;
  text-transform: uppercase;
  color: $classicBlack;

  @media (width < $tablet) {
    font-size: 36px;
    margin: 0 auto;
  }
}